<% layout("/layouts/boilerplateCode.ejs") -%>
<body>
  <section class="blog-main-content">
    <div class="blog-grid">
      <% for( let post of allPost) { %>
        <div class="blog-card">
          <img
            src="<%= post.imageUrl %>"
            alt="<%= post.title %>"
            class="blog-image"
          />
          <span class="card-meta">
            By <%= post.author %> | <%= new
            Date(post.date).toLocaleDateString('en-IN', { year: 'numeric',
            month: 'short', day: 'numeric' }) %>
          </span>
          <div class="card-body">
            <a href="/blog/<%= post._id %>" class="card-title"><%= post.title %></a>
            <p class="card-excerpt"><%= post.content %></p>
            <a href="/blog/<%= post._id %>" class="read-more">Read More &rarr;</a>
          </div>
        </div>
      
      <% } %>


    </div>
  </section>
</body>
